{
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "quoteProps": "consistent",
  "arrowParens": "always",
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "auto"
}
